body{
  font-size: 6em;
  text-align: center;
}

/* タイマー */
.count{
  margin: 0;
  font-weight: bold;
  color: #888;
}

/* text */
.wrap{
  margin-top: 20px;
  padding: 80px 40px;
  background-color: #666;
  font-weight: bold;
  color: #fff;
}

/* 文字数カウント */
.score{
  margin: 0;
  font-weight: bold;
  color: #888;
}
/* 正しいとき */
.typed{
  color: lightgreen;
}
/* ミスのとき */
.mistyped{
  background-color: red;
}